In [7]:
import numpy as np
import pandas as pd
import matplotlib as plt
import matplotlib.pyplot as plt

In [8]:
df =pd.read_csv('mydataheart.csv')

In [9]:
df.head()

             'Time','ECG2'
0      'hh:mm:ss.mmm','mV'
1   '[10:02:00.000]',0.000
2  '[10:02:00.004]',-0.010
3   '[10:02:00.008]',0.000
4   '[10:02:00.012]',0.025

In [10]:
df

                'Time','ECG2'
0         'hh:mm:ss.mmm','mV'
1      '[10:02:00.000]',0.000
2     '[10:02:00.004]',-0.010
3      '[10:02:00.008]',0.000
4      '[10:02:00.012]',0.025
5      '[10:02:00.016]',0.040
6      '[10:02:00.020]',0.035
7      '[10:02:00.024]',0.050
8      '[10:02:00.028]',0.050
9      '[10:02:00.032]',0.050
10     '[10:02:00.036]',0.075
11     '[10:02:00.040]',0.080
12     '[10:02:00.044]',0.085
13     '[10:02:00.048]',0.110
14     '[10:02:00.052]',0.110
15     '[10:02:00.056]',0.110
16     '[10:02:00.060]',0.110
17     '[10:02:00.064]',0.125
18     '[10:02:00.068]',0.150
19     '[10:02:00.072]',0.170
20     '[10:02:00.076]',0.170
21     '[10:02:00.080]',0.185
22     '[10:02:00.084]',0.200
23     '[10:02:00.088]',0.230
24     '[10:02:00.092]',0.255
25     '[10:02:00.096]',0.270
26     '[10:02:00.100]',0.275
27     '[10:02:00.104]',0.295
28     '[10:02:00.108]',0.320
29     '[10:02:00.112]',0.320
...                       ...
2471   '[10:02:09.880]',0.745
2472   '[10:02:09.884]',0.755
2473   '[10:02:09.888]',0.795
2474   '[10:02:09.892]',0.795
2475   '[10:02:09.896]',0.810
2476   '[10:02:09.900]',0.800
2477   '[10:02:09.904]',0.835
2478   '[10:02:09.908]',0.835
2479   '[10:02:09.912]',0.855
2480   '[10:02:09.916]',0.845
2481   '[10:02:09.920]',0.835
2482   '[10:02:09.924]',0.850
2483   '[10:02:09.928]',0.860
2484   '[10:02:09.932]',0.855
2485   '[10:02:09.936]',0.825
2486   '[10:02:09.940]',0.810
2487   '[10:02:09.944]',0.785
2488   '[10:02:09.948]',0.765
2489   '[10:02:09.952]',0.745
2490   '[10:02:09.956]',0.720
2491   '[10:02:09.960]',0.700
2492   '[10:02:09.964]',0.645
2493   '[10:02:09.968]',0.615
2494   '[10:02:09.972]',0.585
2495   '[10:02:09.976]',0.535
2496   '[10:02:09.980]',0.475
2497   '[10:02:09.984]',0.435
2498   '[10:02:09.988]',0.355
2499   '[10:02:09.992]',0.320
2500   '[10:02:09.996]',0.280

[2501 rows x 1 columns]

In [11]:
x =df

In [14]:
plot.
plt.show

NameError: name 'plot' is not defined